<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Vss_Spinandwin>
            <version>1.0.0</version>
        </Vss_Spinandwin>
    </modules>
    
    <admin>
        <routers>
            <spinandwin>
                <use>admin</use>
                <args>
                    <module>Vss_Spinandwin</module>
                    <frontName>spinandwin</frontName>
                </args>
            </spinandwin>
        </routers>
    </admin>
    
    <adminhtml>
        <layout>
            <updates>
                <spinandwin>
                    <file>vss_spinandwin.xml</file>
                </spinandwin>
            </updates>
        </layout>
        <translate>
            <modules>
                <Vss_Spinandwin>
                    <files>
                        <default>Vss_Spinandwin.csv</default>
                    </files>
                </Vss_Spinandwin>
            </modules>
        </translate>        
        <menu>
            <system>
                <children>
                    <knowbandextension>
                        <title>Knowband Extensions</title>
                        <sort_order>1</sort_order>
                        <children>
                            <spinandwin>
                                <title>Spin and Win Free</title>
                                <sort_order>1</sort_order>
                                <action>spinandwin/adminhtml_index</action>
                            </spinandwin>
                        </children>
                    </knowbandextension>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <knowbandextension>
                                    <title>Knowband Extensions</title>
                                    <sort_order>1</sort_order>
                                    <children>
                                        <spinandwin>
                                            <title>Spin and Win Free</title>
                                            <sort_order>1</sort_order>
                                            <action>spinandwin/adminhtml_index</action>
                                        </spinandwin>
                                    </children>
                                </knowbandextension>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    
    <global>
        <blocks>
            <spinandwin>
                <class>Vss_Spinandwin_Block</class>
            </spinandwin>
        </blocks>
        <models>
            <spinandwin>
                <class>Vss_Spinandwin_Model</class>
                <resourceModel>spinandwin_mysql4</resourceModel>
            </spinandwin>
            <spinandwin_mysql4>
                <class>Vss_Spinandwin_Model_Mysql4</class>
                <entities>
                    <couponlist>
                        <table>vss_spinandwin_coupons</table>   
                    </couponlist>
                    
                </entities>
            </spinandwin_mysql4>
        </models>
        <resources>
            <spinandwin_setup>
                <setup>
                    <module>Vss_Spinandwin</module>
                    <class>Vss_Spinandwin_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </spinandwin_setup>
            <vss_spinandwin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vss_spinandwin_write>
            <vss_spinandwin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vss_spinandwin_read>
        </resources>
        <helpers>
            <spinandwin>
                <class>Vss_Spinandwin_Helper</class>
            </spinandwin>
        </helpers>
        
    </global>
    
    <!-- Frontend BEGINS -->
    <frontend>
        <routers>
            <spinandwin>
                <use>standard</use>
                <args>
                    <module>Vss_Spinandwin</module>
                    <frontName>spinandwin</frontName>
                </args>
            </spinandwin>
        </routers>
        <layout>
            <updates>
                <spinandwin>
                    <file>vss_spinandwin.xml</file>
                </spinandwin>
            </updates>
        </layout>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <Vss_Spinandwin_Model_Observer>
                        <type>singleton</type>
                        <class>Vss_Spinandwin_Model_Observer_Spinandwin</class>
                        <method>markCouponUsed</method>
                    </Vss_Spinandwin_Model_Observer>
                </observers>
            </checkout_submit_all_after>            
        </events>
        <translate>
            <modules>
                <spinandwin>
                    <files>
                        <default>Vss_Spinandwin.csv</default>
                    </files>
                </spinandwin>
            </modules>
        </translate>
    </frontend>
</config>
